@import "tailwindcss";
@import "tw-animate-css";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.625rem;
    --background: oklch(0.958 0.006 264.532);
    --foreground: oklch(0.435 0.043 279.325);
    --card: oklch(0.933 0.009 264.521);
    --card-foreground: oklch(0.435 0.043 279.325);
    --popover: oklch(0.933 0.009 264.521);
    --popover-foreground: oklch(0.435 0.043 279.325);
    --primary: oklch(0.492 0.038 279.299);
    --primary-foreground: oklch(0.933 0.009 264.521);
    --secondary: oklch(0.906 0.012 264.507);
    --secondary-foreground: oklch(0.492 0.038 279.299);
    --muted: oklch(0.906 0.012 264.507);
    --muted-foreground: oklch(0.601 0.03 278.694 / 80%);
    --accent: oklch(0.906 0.012 264.507);
    --accent-foreground: oklch(0.492 0.038 279.299);
    --destructive: oklch(0.55 0.216 19.809);
    --border: oklch(0.857 0.014 268.476);
    --input: oklch(0.857 0.014 268.476);
    --ring: oklch(0.758 0.02 273.154);
    --chart-1: oklch(0.686 0.126 20.867);
    --chart-2: oklch(0.555 0.25 297.016);
    --chart-3: oklch(0.692 0.204 42.429);
    --chart-4: oklch(0.602 0.098 201.105);
    --chart-5: oklch(0.664 0.175 273.135);
    --sidebar: oklch(0.933 0.009 264.521);
    --sidebar-foreground: oklch(0.435 0.043 279.325);
    --sidebar-primary: oklch(0.492 0.038 279.299);
    --sidebar-primary-foreground: oklch(0.933 0.009 264.521);
    --sidebar-accent: oklch(0.906 0.012 264.507);
    --sidebar-accent-foreground: oklch(0.492 0.038 279.299);
    --sidebar-border: oklch(0.857 0.014 268.476);
    --sidebar-ring: oklch(0.758 0.02 273.154);
}

.dark {
    --background: oklch(0.279 0.035 276.937);
    --foreground: oklch(0.871 0.048 273.665);
    --card: oklch(0.249 0.03 278.435);
    --card-foreground: oklch(0.871 0.048 273.665);
    --popover: oklch(0.249 0.03 278.435);
    --popover-foreground: oklch(0.871 0.048 273.665);
    --primary: oklch(0.812 0.046 274.267);
    --primary-foreground: oklch(0.249 0.03 278.435);
    --secondary: oklch(0.219 0.025 280.657);
    --secondary-foreground: oklch(0.812 0.046 274.267);
    --muted: oklch(0.219 0.025 280.657);
    --muted-foreground: oklch(0.69 0.043 274.539 / 80%);
    --accent: oklch(0.219 0.025 280.657);
    --accent-foreground: oklch(0.812 0.046 274.267);
    --destructive: oklch(0.737 0.125 11.194);
    --border: oklch(0.354 0.037 275.985);
    --input: oklch(0.354 0.037 275.985);
    --ring: oklch(0.494 0.039 275.683);
    --chart-1: oklch(0.863 0.048 18.12);
    --chart-2: oklch(0.772 0.126 303.898);
    --chart-3: oklch(0.799 0.106 49.638);
    --chart-4: oklch(0.821 0.076 184.1);
    --chart-5: oklch(0.814 0.083 279.854);
    --sidebar: oklch(0.249 0.03 278.435);
    --sidebar-foreground: oklch(0.871 0.048 273.665);
    --sidebar-primary: oklch(0.812 0.046 274.267);
    --sidebar-primary-foreground: oklch(0.249 0.03 278.435);
    --sidebar-accent: oklch(0.219 0.025 280.657);
    --sidebar-accent-foreground: oklch(0.812 0.046 274.267);
    --sidebar-border: oklch(0.354 0.037 275.985);
    --sidebar-ring: oklch(0.494 0.039 275.683);

    .astro-code,
    .astro-code span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
    }
}

@theme {
    --font-sans: "Inter Variable", Pretendard, sans-serif;
    --font-serif: "Newsreader Variable", MaruBuri, serif;
    --font-mono: "JetBrains Mono", monospace;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    @font-face {
        font-family: "Inter Variable";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/InterVariable.woff2") format("woff2");
    }

    @font-face {
        font-family: "Inter Variable";
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 900;
        font-display: swap;
        src:
            local("Pretendard Black"),
            url("./fonts/Pretendard-Black.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 800;
        font-display: swap;
        src:
            local("Pretendard ExtraBold"),
            url("./fonts/Pretendard-ExtraBold.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 700;
        font-display: swap;
        src:
            local("Pretendard Bold"),
            url("./fonts/Pretendard-Bold.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 600;
        font-display: swap;
        src:
            local("Pretendard SemiBold"),
            url("./fonts/Pretendard-SemiBold.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 500;
        font-display: swap;
        src:
            local("Pretendard Medium"),
            url("./fonts/Pretendard-Medium.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 400;
        font-display: swap;
        src:
            local("Pretendard Regular"),
            url("./fonts/Pretendard-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 300;
        font-display: swap;
        src:
            local("Pretendard Light"),
            url("./fonts/Pretendard-Light.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 200;
        font-display: swap;
        src:
            local("Pretendard ExtraLight"),
            url("./fonts/Pretendard-ExtraLight.woff2") format("woff2");
    }

    @font-face {
        font-family: Pretendard;
        font-weight: 100;
        font-display: swap;
        src:
            local("Pretendard Thin"),
            url("./fonts/Pretendard-Thin.woff2") format("woff2");
    }

    @font-face {
        font-family: "Newsreader Variable";
        font-style: normal;
        font-weight: 200 800;
        font-display: swap;
        src: url("/fonts/Newsreader-VariableFont_opsz,wght.ttf") format("truetype");
    }

    @font-face {
        font-family: "Newsreader Variable";
        font-style: italic;
        font-weight: 200 800;
        font-display: swap;
        src: url("/fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    }

    @font-face {
        font-family: MaruBuri;
        font-style: normal;
        font-weight: 200;
        src: url("/fonts/MaruBuri-ExtraLight.otf") format("opentype");
    }

    @font-face {
        font-family: MaruBuri;
        font-style: normal;
        font-weight: 300;
        src: url("/fonts/MaruBuri-Light.otf") format("opentype");
    }

    @font-face {
        font-family: MaruBuri;
        font-style: normal;
        font-weight: 400;
        src: url("/fonts/MaruBuri-Regular.otf") format("opentype");
    }

    @font-face {
        font-family: MaruBuri;
        font-style: normal;
        font-weight: 600;
        src: url("/fonts/MaruBuri-SemiBold.otf") format("opentype");
    }

    @font-face {
        font-family: MaruBuri;
        font-style: normal;
        font-weight: 700;
        src: url("/fonts/MaruBuri-Bold.otf") format("opentype");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 100;
        src:
            local("JetBrains Mono Thin"),
            url("./fonts/JetBrainsMono-Thin.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 200;
        src:
            local("JetBrains Mono ExtraLight"),
            url("./fonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 300;
        src:
            local("JetBrains Mono Light"),
            url("./fonts/JetBrainsMono-Light.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 400;
        src:
            local("JetBrains Mono Regular"),
            url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 500;
        src:
            local("JetBrains Mono Medium"),
            url("./fonts/JetBrainsMono-Medium.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 600;
        src:
            local("JetBrains Mono SemiBold"),
            url("./fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 700;
        src:
            local("JetBrains Mono Bold"),
            url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 800;
        src:
            local("JetBrains Mono ExtraBold"),
            url("./fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 100;
        src:
            local("JetBrains Mono ThinItalic"),
            url("./fonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 200;
        src:
            local("JetBrains Mono ExtraLightItalic"),
            url("./fonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 300;
        src:
            local("JetBrains Mono LightItalic"),
            url("./fonts/JetBrainsMono-LightItalic.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 400;
        src:
            local("JetBrains Mono Italic"),
            url("./fonts/JetBrainsMono-Italic.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 500;
        src:
            local("JetBrains Mono MediumItalic"),
            url("./fonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 600;
        src:
            local("JetBrains Mono SemiBoldItalic"),
            url("./fonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 700;
        src:
            local("JetBrains Mono BoldItalic"),
            url("./fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: italic;
        font-weight: 800;
        src:
            local("JetBrains Mono ExtraBoldItalic"),
            url("./fonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
    }

    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
